section.sass-demo
  .container
    h2 Ejemplo práctico con SASS en Krediti
    p Este bloque está diseñado con variables, mixins y anidamiento de SASS.

    .card-sass
      p Esta tarjeta usa estilos generados desde SASS.
      button.btn-sass ¡Click aquí!
